proveedores.txt
varios.txt
data.txt
log.txt
app.log
/data
driver/chrome_webdriver.exe

# notebooks
*.ipynb

#Docx
*.docx

*.env

/cotizaciones
chrome_webdriver.exe

cotizacion.pptx
sample_image.jpg
/__pycache__
/.vscode
.vscode