proveedores.txt
varios.txt
data.txt
log.txt
app.log
consecutivo.txt

# notebooks
*.ipynb

#Docx
*.docx

*.env

/cotizaciones
/driver

cotizacion.pptx
sample_image.jpg
/__pycache__
